fastapi==0.95.2
uvicorn[standard]==0.30.6
sqlalchemy==1.4.52
pandas==2.2.3
python-multipart==0.0.9
pydantic==1.10.15
python-dotenv==1.0.1
pypdf==4.3.1
boto3==1.35.36
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
Pillow==10.4.0
reportlab==4.2.5
requests==2.32.3
psycopg2-binary==2.9.9
